.wrapperComponent {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  left:0;
  top:0;
}

.controlComponent {
  position: fixed;
  display: flex;
  right: 0;
  width: 20%;
  min-width: 130px;
  min-height: 130px;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  box-sizing: border-box;
  flex-direction: column-reverse;

  @media (max-aspect-ratio: 1/1) {
    flex-direction: row;
    bottom: 0;
    width: 100%;
    height: 20%;
  }

  @media (max-width: 400px) {
    padding: 10px;
  }
}

.imgControlComponent {
  position: fixed;
  display: flex;
  right: 0;
  width: 20%;
  min-width: 130px;
  min-height: 130px;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 110;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  box-sizing: border-box;
  flex-direction: column-reverse;

  @media (max-aspect-ratio: 1/1) {
    flex-direction: row;
    bottom: 0;
    width: 100%;
    height: 20%;
  }

  @media (max-width: 400px) {
    padding: 10px;
  }
}

.buttonComponent {
  outline: none;
  color: white;
  opacity: 1;
  background: transparent;
  background-color: transparent;
  background-position-x: 0%;
  background-position-y: 0%;
  background-repeat: repeat;
  background-image: none;
  padding: 0;
  text-shadow: 0px 0px 4px black;
  background-position: center center;
  background-repeat: no-repeat;
  pointer-events: auto;
  cursor: pointer;
  z-index: 2;
  filter: invert(100%);
  border: none;

  &:hover {
    opacity: 0.7;
  }
}

.takePhotoButtonComponent {
  background: url('/camera-solid-full.svg');
  background-position: center;
  background-size: 50px;
  background-repeat: no-repeat;
  background-color:#fff;
  width: 80px;
  height: 80px;
  border: solid 4px black;
  border-radius: 50%;

  &:hover {
    background-color: rgba(100, 100, 100, 0.7);
  }
}

.torchButtonComponent {
  background: url('/lightbulb-solid-full.svg');
  background-position: center;
  background-size: 50px;
  background-repeat: no-repeat;
  background-color: #fff;
  width: 80px;
  height: 80px;
  border: solid 4px black;
  border-radius: 50%;

  &.toggled {
    background-color: #ffff00;
  }
}

.closeButtonComponent {
  background: url('/xmark-solid-full.svg');
  background-position: center;
  background-size: 50px;
  background-repeat: no-repeat;
  background-color:#fff;
  width: 80px;
  height: 80px;
  border: solid 4px black;
  border-radius: 50%;
}

.checkButtonComponent {
  background: url('/check-solid-full.svg');
  background-position: center;
  background-size: 50px;
  background-repeat: no-repeat;
  background-color:#fff;
  width: 80px;
  height: 80px;
  border: solid 4px black;
  border-radius: 50%;
}

.changeFacingCameraButtonComponent {
  background: url(https://img.icons8.com/ios/50/000000/switch-camera.png);
  background-position: center;
  background-size: 40px;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  padding: 40px;
  &:disabled {
    opacity: 0;
    cursor: default;
    padding: 60px;
  }
  @media (max-width: 400px) {
    padding: 40px 5px;
    &:disabled {
      padding: 40px 25px;
    }
  }
}

.imagePreviewComponent {
  width: 80px;
  height: 80px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  @media (max-width: 400px) {
    width: 80px;
    height: 80px;
  }
}

.fullScreenImagePreviewComponent {
  width: 100%;
  height: 100%;
  z-index: 100;
  position: absolute;
  background-color: black;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  left:0;
}


.video1 {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    /* Ensures the video covers the area without stretching */
    object-fit: cover; 
}



/* for CameraButton */
.cameraGrid {
  position:relative;
  margin: 0;
  width: 100px;
  height: 100px;
  border:1px solid#000;
}

.cameraGridImage {
  position:relative;
  margin: 0;
  width: 100px;
  height: 100px;
}

.cameraGridBtnDelete {
  position:relative;
  margin: 0 0 auto auto;
  left:35px;
  top:-105px;
}

