.container1 {
  padding:0;
}

.profileHeader {
  position: relative;
  overflow: hidden
}

.profileHeader .profileHeaderCover {
  background-image: url(https://bootdey.com/img/Content/bg1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.profileHeader .profileHeaderCover:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /*background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .75) 100%)*/
  background: linear-gradient(90deg,rgba(19, 20, 20, 1) 0%, rgba(78, 78, 128, 1) 33%, rgba(46, 62, 133, 1) 66%, rgba(19, 20, 20, 1) 100%);
}

.profileHeader .profileHeaderContent {
  color: #fff;
  padding: 25px
}

.profileHeaderImg {
  float: left;
  width: 120px;
  height: 120px;
  overflow: hidden;
  position: relative;
  z-index: 10;
  margin: 0 0 -20px;
  padding: 3px;
  border-radius: 4px;
  background: #fff
}

.profileHeaderImg img {
  max-width: 100%
}

.profileHeaderInfo h4 {
  font-weight: 500;
  color: #fff
}

.profileHeaderImg+.profileHeaderInfo {
  margin-left: 140px
}

.profileHeader .profileHeaderContent,
.profileHeader .profileHeaderTab {
  position: relative
}

.profileContent .tabContent,
.profileContent .tabPane {
  background: 0 0
}

.profile-header .profile-header-tab {
  background: #fff;
  list-style-type: none;
  margin: -10px 0 0;
  padding: 0 0 0 140px;
  white-space: nowrap;
  border-radius: 0
}

.textEllipsis,
.textNowrap {
  white-space: nowrap!important
}

.profileHeader .profileHeaderTab>li {
  display: inline-block;
  margin: 0
}

.profileHeader .profileHeaderTab>li>a {
  display: block;
  color: #929ba1;
  line-height: 20px;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: 700;
  font-size: 12px;
  border: none
}

.profileHeader .profileHeaderTab>li.active>a,
.profileHeader .profileHeaderTab>li>a.active {
  color: #242a30
}

.profileContent {
  padding: 10px;
  border-radius: 4px
}

.profileContent:after,
.profileContent:before {
  content: '';
  display: table;
  clear: both
}

.profileContent .tabContent,
.profileContent .tabPane {
  background: 0 0
}

.profileLeft {
  width: 200px;
  float: left
}

.profileRight {
  margin-left: 240px;
  padding-right: 20px
}

.profileImage {
  height: 175px;
  line-height: 175px;
  text-align: center;
  font-size: 72px;
  margin-bottom: 10px;
  border: 2px solid #E2E7EB;
  overflow: hidden;
  border-radius: 4px
}

.profileImage img {
  display: block;
  max-width: 100%
}

.profileHighlight {
  padding: 12px 15px;
  background: #FEFDE1;
  border-radius: 4px
}

.profileHighlight h4 {
  margin: 0 0 7px;
  font-size: 12px;
  font-weight: 700
}

.table.table-profile>thead>tr>th {
  border-bottom: none!important
}

.table.table-profile>thead>tr>th h4 {
  font-size: 20px;
  margin-top: 0
}

.table.table-profile>thead>tr>th h4 small {
  display: block;
  font-size: 12px;
  font-weight: 400;
  margin-top: 5px
}

.table.table-profile>tbody>tr>td,
.table.table-profile>thead>tr>th {
  border: none;
  padding-top: 7px;
  padding-bottom: 7px;
  color: #242a30;
  background: 0 0
}

.table.table-profile>tbody>tr>td.field {
  width: 20%;
  text-align: right;
  font-weight: 600;
  color: #2d353c
}

.table.table-profile>tbody>tr.highlight>td {
  border-top: 1px solid #b9c3ca;
  border-bottom: 1px solid #b9c3ca
}

.table.table-profile>tbody>tr.divider>td {
  padding: 0!important;
  height: 10px
}

.profile-section+.profile-section {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #b9c3ca
}

.profile-section:after,
.profile-section:before {
  content: '';
  display: table;
  clear: both
}

.profile-section .title {
  font-size: 20px;
  margin: 0 0 15px
}

.profile-section .title small {
  font-weight: 400
}

body.flat-black {
  background: #E7E7E7
}

.flat-black .navbar.navbar-inverse {
  background: #212121
}

.flat-black .navbar.navbar-inverse .navbar-form .form-control {
  background: #4a4a4a;
  border-color: #4a4a4a
}

.flat-black .sidebar,
.flat-black .sidebar-bg {
  background: #3A3A3A
}

.flat-black .page-with-light-sidebar .sidebar,
.flat-black .page-with-light-sidebar .sidebar-bg {
  background: #fff
}

.flat-black .sidebar .nav>li>a {
  color: #b2b2b2
}

.flat-black .sidebar.sidebar-grid .nav>li>a {
  border-bottom: 1px solid #474747;
  border-top: 1px solid #474747
}

.flat-black .sidebar .active .sub-menu>li.active>a,
.flat-black .sidebar .nav>li.active>a,
.flat-black .sidebar .nav>li>a:focus,
.flat-black .sidebar .nav>li>a:hover,
.flat-black .sidebar .sub-menu>li>a:focus,
.flat-black .sidebar .sub-menu>li>a:hover,
.sidebar .nav>li.nav-profile>a {
  color: #fff
}

.flat-black .sidebar .sub-menu>li>a,
.flat-black .sidebar .sub-menu>li>a:before {
  color: #999
}

.flat-black .page-with-light-sidebar .sidebar .active .sub-menu>li.active>a,
.flat-black .page-with-light-sidebar .sidebar .active .sub-menu>li.active>a:focus,
.flat-black .page-with-light-sidebar .sidebar .active .sub-menu>li.active>a:hover,
.flat-black .page-with-light-sidebar .sidebar .nav>li.active>a,
.flat-black .page-with-light-sidebar .sidebar .nav>li.active>a:focus,
.flat-black .page-with-light-sidebar .sidebar .nav>li.active>a:hover {
  color: #000
}

.flat-black .page-sidebar-minified .sidebar .nav>li.has-sub:focus>a,
.flat-black .page-sidebar-minified .sidebar .nav>li.has-sub:hover>a {
  background: #323232
}

.flat-black .page-sidebar-minified .sidebar .nav li.has-sub>.sub-menu,
.flat-black .sidebar .nav>li.active>a,
.flat-black .sidebar .nav>li.active>a:focus,
.flat-black .sidebar .nav>li.active>a:hover,
.flat-black .sidebar .nav>li.nav-profile,
.flat-black .sidebar .sub-menu>li.has-sub>a:before,
.flat-black .sidebar .sub-menu>li:before,
.flat-black .sidebar .sub-menu>li>a:after {
  background: #2A2A2A
}

.flat-black .page-sidebar-minified .sidebar .sub-menu>li:before,
.flat-black .page-sidebar-minified .sidebar .sub-menu>li>a:after {
  background: #3e3e3e
}

.flat-black .sidebar .nav>li.nav-profile .cover.with-shadow:before {
  background: rgba(42, 42, 42, .75)
}

.bg-white {
  background-color: #fff!important;
}
.p-10 {
  padding: 10px!important;
}
.media.media-xs .media-object {
  width: 32px;
}
.m-b-2 {
  margin-bottom: 2px!important;
}
.media>.media-left, .media>.pull-left {
  padding-right: 15px;
}
.media-body, .media-left, .media-right {
  display: table-cell;
  vertical-align: top;
}
select.form-control:not([size]):not([multiple]) {
  height: 34px;
}
.form-control.input-inline {
  display: inline;
  width: auto;
  padding: 0 7px;
}


.timeline {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative
}

.timeline:before {
  content: '';
  position: absolute;
  top: 5px;
  bottom: 5px;
  width: 5px;
  background: #2d353c;
  left: 20%;
  margin-left: -2.5px
}

.timeline>li {
  position: relative;
  min-height: 50px;
  padding: 20px 0
}

.timeline .timelineTime {
  position: absolute;
  left: 0;
  width: 18%;
  text-align: right;
  top: 30px
}

.timeline .timelineTime .date,
.timeline .timelineTime .time {
  display: block;
  font-weight: 600
}

.timeline .timelineTime .date {
  line-height: 16px;
  font-size: 12px
}

.timeline .timelineTime .time {
  line-height: 24px;
  font-size: 20px;
  color: #242a30
}

.timeline .timelineIcon {
  left: 15%;
  position: absolute;
  width: 10%;
  text-align: center;
  top: 40px
}

.timeline .timelineIcon a {
  text-decoration: none;
  width: 20px;
  height: 20px;
  display: inline-block;
  border-radius: 20px;
  background: #d9e0e7;
  line-height: 10px;
  color: #fff;
  font-size: 14px;
  border: 5px solid #2d353c;
  transition: border-color .2s linear
}

.timeline .timelineBody {
  margin-left: 25%;
  margin-right: 0%;
  background: #fff;
  position: relative;
  padding: 5px 5px;
  border-radius: 6px
}

.timeline .timelineBody:before {
  content: '';
  display: block;
  position: absolute;
  border: 10px solid transparent;
  border-right-color: #fff;
  left: -20px;
  top: 20px
}

.timeline .timelineBody>div+div {
  margin-top: 15px
}

.timeline .timelineBody>div+div:last-child {
  margin-bottom: -20px;
  padding-bottom: 20px;
  border-radius: 0 0 6px 6px
}

.timelineHeader {
  padding-bottom: 10px;
  border-bottom: 1px solid #e2e7eb;
  line-height: 30px;
  width:100%;
}

.timelineHeader .userimage {
  float: left;
  width: 34px;
  height: 34px;
  border-radius: 40px;
  overflow: hidden;
  margin: -2px 10px -2px 0
}

.timelineHeader .username {
  font-size: 16px;
  font-weight: 600
}

.timelineHeader .username,
.timelineHeader .username a {
  color: #2d353c
}

.timeline img {
  max-width: 100%;
  display: block
}

.timelineContent {
  letter-spacing: .25px;
  line-height: 18px;
  font-size: 13px;
  text-align: left;
}

.timelineContent:after,
.timelineContent:before {
  content: '';
  display: table;
  clear: both
}

.timelineTitle {
  margin-top: 0
}

.timelineFooter {
  background: #fff;
  border-top: 1px solid #e2e7ec;
  padding-top: 15px
}

.timelineFooter a:not(.btn) {
  color: #575d63
}

.timelineFooter a:not(.btn):focus,
.timelineFooter a:not(.btn):hover {
  color: #2d353c
}

.timelineLikes {
  color: #6d767f;
  font-weight: 600;
  font-size: 12px
}

.timelineLikes .stats-right {
  float: right
}

.timelineLikes .stats-total {
  display: inline-block;
  line-height: 20px
}

.timelineLikes .stats-icon {
  float: left;
  margin-right: 5px;
  font-size: 9px
}

.timelineLikes .stats-icon+.stats-icon {
  margin-left: -2px
}

.timelineLikes .stats-text {
  line-height: 20px
}

.timelineLikes .stats-text+.stats-text {
  margin-left: 15px
}

.timeline-comment-box {
  background: #f2f3f4;
  margin-left: -25px;
  margin-right: -25px;
  padding: 20px 25px
}

.timeline-comment-box .user {
  float: left;
  width: 34px;
  height: 34px;
  overflow: hidden;
  border-radius: 30px
}

.timeline-comment-box .user img {
  max-width: 100%;
  max-height: 100%
}

.timeline-comment-box .user+.input {
  margin-left: 44px
}

.lead {
  margin-bottom: 20px;
  font-size: 21px;
  font-weight: 300;
  line-height: 1.4;
}

.text-danger, .text-red {
  color: #ff5b57!important;
}
